@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --color-background : var(--background);
  --color-text: var(--text);
  --color-border : var(--border);
  --color-button : var(--button-hover);
  --color-checked : var(--checked-button);
  --color-header: var(--header-background);
  --color-icon-color: var(--icon-color);
  --color-icon-background: var(--icon-background)

}

@layer base{
  :root{
    --background : #ebe7e1;
    --text : #1f2129;
    --border:#ebe7e1;
    --header-background: #fcf7f8;
    --button-hover: #2d6a4f;
    --checked-button:#345197;
    --icon-color: #f1edee;
    --icon-background: #090b0f;

  }
  .dark{
    --background : #090b0f;
    --text : #f1edee;
    --border:#2a2e38;
    --header-background:  #2a2e38;
    --button-hover: #2d6a4f;
    --checked-button:#628bea;
    --icon-color: #ebeb07;
    --icon-background: #ebe7e1;
   

  }
}
body{
  background-color: var(--background);
  color: var(--text);
  font-family: "Geist", sans-serif;

  
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.amiri{
  font-family: 'Amiri Quran', serif;
}


/* 
                          * Dark Mode *
font-family: "Geist", sans-serif;
header border : #2a2e38
header background: #2a2e38

body foreGround :#f1edee
body background : #090b0f
checked button : #628bea on hover opacity .8
 hover : #2d6a4f

                              *light Mode*
header background : #ebe7e1


body foreground : #1f2129
body background : #fcf7f8
checked button : #345197
 hover : #2d6a4f
                              */